
<%= react_component("ReferentUpdateForm", {token: form_authenticity_token, referent: @referent, preferences: Referent.preferences.keys}) %>
<%= link_to '<span class="glyphicon glyphicon glyphicon-chevron-left"></span> Back'.html_safe, referents_path %>
