<% if @referent.errors.any? %>
    <div id="error_explanation">
      <ul style="list-style-type:none">
        <% @referent.errors.full_messages.each do |msg| %>
            <li><%= react_component('Alert', {text: msg}) %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<%= react_component('Alert', {text: alert}) %>
<%= react_component("ReferentCreateForm", {token: form_authenticity_token, preferences: Referent.preferences.keys, reforganismId: @reforganismId}) %>

<div class="row">
  <%= link_to '<span class="glyphicon glyphicon glyphicon-chevron-left"></span> Back'.html_safe, referents_path() %>
</div>